---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Blog de música" description='Tienda de guitarras, blog de música y más'>
	<main class="contenedor">
		<h1 class="heading">Nuestro Blog</h1>
	</main>
</Layout>

<style>
	
</style>
